* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero */
.hero {
  background-image: url(https://www.the-afc.com/img/image/upload/t_l2/joumf8y3pzk2sx4owem2.jpg);
  height: 30vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero::after {
  content: '';
  position: absolute;
  height: 100%;
  background-color: #222;
  width: 100%;
  opacity: 0.5;
}
.hero img {
  z-index: 999;
  max-width: 300px;
  max-height: 200px;
  object-fit: cover;
}
.hero h2 {
  color: aliceblue;
  z-index: 999;
  text-transform: capitalize;
  letter-spacing: 5px;
  font-size: 25px;
}

/* leagues */

.leagues {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 2rem;
  background-color: blueviolet;
  padding: 2rem;
}

.league {
  background-color: #fff;
  height: 350px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}
.img-container {
  height: 180px;
  width: 250px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.content {
  text-align: center;
}
.content h4 {
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.btn {
  background-color: blue;
  padding: 0.6rem 2rem;
  margin-top: 1rem;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 1rem;
}
.btn:hover {
  background-color: blueviolet;
}

/* single page  */
.main-content {
  background-color: #222;
  padding: 2rem;
  color: #fff;
}
.league-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: blueviolet;
  border-radius: 10px;
  margin-bottom: 2rem;
}
.league-info h4 {
  margin-top: 5px;
  letter-spacing: 3px;
}
.league-info h2 {
  letter-spacing: 3px;
  text-transform: uppercase;
}
.right img {
  max-height: 300px;
  max-width: 350px;
  object-fit: cover;
  margin: 2rem auto;
}

/* icons */
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.icon img {
  max-height: 50px;
  max-width: 50px;
  margin-right: 2rem;
  transition: 0.3s ease;
}
.icon img:hover {
  transform: scale(1.2);
}
@media only screen and (min-width: 900px) {
  .leagues {
    grid-template-columns: repeat(3, 1fr);
  }
  .main-content {
    padding: 2rem 5rem;
  }
}
